#logo{
    font-family: Copperplate Gothic Light;
    font-size: 30px;
    font-weight: 500;
}
body {
    background: url('https://img.freepik.com/free-vector/pastel-vector-dull-pastel-abstract-textured-background_53876-110546.jpg?w=2000') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.multiTruncate{
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.priceWas{
    text-decoration: line-through;
}
.productImg{
    width: 254px;
    height: 254px;
}
.rating {
	float: left;
	width: 300px;
}

.rating span {
	float: right;
	position: relative;
}

.rating span input {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.rating span label {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #FFF;
	background: #ccc;
	font-size: 30px;
	margin-right: 2px;
	line-height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.rating span:hover ~ span label, .rating span:hover label, .rating span.checked label,
	.rating span.checked ~ span label {
	background: #F90;
	color: #FFF;
}